@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1em;
}

* {
    font-family: "Raleway", "Sans serif";
    list-style: none;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
}

/* Header */

header
{
   width: 100%;
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: flex-end;
}
h1{
    padding-left: 50px;
}
ul
{
    display: flex;
}
#navbar nav ul li
{
    list-style-type: none;
    padding: 20px;
}
li a
{
    text-decoration: none;
    color: black;
}
#menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li a:hover
{
    color: #0065FC;
}
li {
    border-top: 3px solid #fff;
}
li:hover
{
    border-top: 3px solid #0065FC;
}
li:focus
{
    border-top: 3px solid #0065FC;
}
.sign-in
{
    display: flex;
    align-items: center;
}
.sign-in a
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
.sign-in a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.main-container
{
    max-width: 100%;
}


/* Sous Header / Recherche */

#main-title h2 {
    margin-bottom: 10px;
    margin-top: Opx;
}
#main-title p {
    margin-top: Opx;
}

#search
{
    padding-left: 50px;
}
#search-bar
{
    display: flex;
    align-items: center;
}

.search-bar i
{
   border: 10px solid #F2F2F2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background: #F2F2F2; 
   
}
.search 
{
    display: none;
}
input
{
    border: 2px solid #F2F2F2;
    height: 2.7em;
    outline: none;
        
}


.search-button
{
    cursor:auto;
    border: 10px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.7em;
}


