@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1em;
}

* {
    font-family: "Raleway", "Sans serif";
    list-style: none;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
}

/* Header */

header
{
   width: 100%;
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: flex-end;
}
h1{
    padding-left: 50px;
}
ul
{
    display: flex;
}
#navbar nav ul li
{
    list-style-type: none;
    padding: 20px;
}
li a
{
    text-decoration: none;
    color: black;
}
#menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li a:hover
{
    color: #0065FC;
}
li {
    border-top: 3px solid #fff;
}
li:hover
{
    border-top: 3px solid #0065FC;
}
li:focus
{
    border-top: 3px solid #0065FC;
}
.sign-in
{
    display: flex;
    align-items: center;
}
.sign-in a
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
.sign-in a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.main-container
{
    max-width: 100%;
}


/* Sous Header / Recherche */

#main-title h2 {
    margin-bottom: 10px;
    margin-top: Opx;
}
#main-title p {
    margin-top: Opx;
}

#search
{
    padding-left: 50px;
}
#search-bar
{
    display: flex;
    align-items: center;
}

.search-bar i
{
   border: 10px solid #F2F2F2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background: #F2F2F2; 
   
}
.search 
{
    display: none;
}
input
{
    border: 2px solid #F2F2F2;
    height: 2.7em;
    outline: none;
        
}


.search-button
{
    cursor:auto;
    border: 10px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.7em;
}

/* Filtres */ 

#filter {
    padding-left: 50px;
}
.filter {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.price:hover, .family:hover, .romantic:hover, .animal:hover {
    background: #deebff;
}

.price, .family, .romantic, .animal {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-right: 25px;
    height: 2.8em;
    cursor: pointer;
}
.filter-title {
    font-weight: bold;
    margin-right: 15px;
}
.family i{
    width: 40px;
}
.price i, .family i, .romantic i, .animal i {
    color: #0065FC;
    background: #deebff;
    border: 13px solid #deebff;
    border-radius: 100%;
}
.price h3, .family h3, .romantic h3, .animal h3 {
    padding-right: 20px;
    padding-left: 20px;
}
.icon-filter {
    display: flex;
    justify-content: center;
    align-content: center;
}
.info {
    display: flex;
    align-items: center;
}
.fa-info {
    color: #0065FC;
}
.fa-circle {
    color: #F2F2F2;
}
.info p{
    padding-left: 10px;
}

/* Resa */

#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
#rooms {
    background: #F2F2F2;
    border-radius: 25px;
    width: 60em;
}
#main-rooms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.rooms {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    transition: transform 1s;
}
.rooms p, .rooms h4 {
    margin: 5px;
}
.rooms img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 8em;
}
.rooms:hover {
    transform: scale(1.02);
    object-fit: cover;
    box-shadow: 5px;
}
.rooms-title {
    padding: 20px Opx 20px 20px;
    font-weight: bold;
    font-size: 1em;
}
.rooms a {
    text-decoration: none;
    color: black;
}
.fa-star {
    color: #0065FC;
    font-size: small;
    padding-left: 5px;
}
.fa-star.grey {
    color: #f2f2f2;
    font-size: small;
}
.rooms figure {
    margin: 0;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaaaaa;
    width: 17em;
    height: 14em;
}
.room figcaption p {
    font-size: 0.8em;
}
.rooms figcaption {
    margin-left: 5px;
}
.more a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.more {
    padding: 20px;
}


/* Les plus populaires */

.aside img {
    width: 8em;
    height: 8em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}
.aside {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.aside:hover {
    -webkit-transform: scale(0.5);
    transform: scale(O.5);
}
aside {
    display:flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 25px;
    float: right;
    width: 25em;
    height: auto;
}
.aside-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-size: 1em;
}